<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"> 
    <head> 
         <meta charset="utf-8" />          
        <title>Rive Lamartine</title> 
        {% image '%kernel.root_dir%/../web/assets/images/lamartine-icon.png' %}
          <link rel="icon" type="image/png" href="{{ asset_url }}" /> 
      {% endimage %}

        <!--link rel="icon" type="image/png" href="lamartine-icon.png" /-->
        <meta name="keywords" content="" /> 
        <meta name="description" content="" /> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width" /> 

        {% stylesheets '%kernel.root_dir%/Resources/public/css/*' output='css/compiled/main.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" media="all" />
        {% endstylesheets %}
        <script>
        /*  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-65602433-1', 'auto');
          ga('send', 'pageview');*/

        </script>

        {% javascripts '%kernel.root_dir%/Resources/public/js/*' output='js/compiled/main.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        

     
    </head> 
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
