{% extends 'base.html.twig' %}

{% block body %}
  <h1>Merci d'avoir contacté le conseil du syndic</h1>

  <p class="center medium">Nous vous répondrons dans les meilleurs délais sur votre addresse mail: <font class="colored">{{email}}</font>
    <br/><br/>
  <a href="/"> revenir sur le site web</a></p>
  <script>
    setTimeout(function(){document.location.href="/riveLamartineWebsite/web/app_dev.php/app" },3000)
  </script>
{% endblock %}